<form method="GET">

    <div class="form-inline">
      <div class="form-group">
        <input type="Prefix" class="line-input" name="userEmail" placeholder="Prefix">
      </div>
      <div class="form-group">
        <input type="Suffix" class="line-input" name="userPassword" placeholder="Suffix">
      </div>
    </div>
  
  
    <div class=" form-group">
      <button type="submit" class="btn btn-light text-primary btn-block" style="margin : 20px 20px -10px 0px">Send Message</button>
    </div>
  
    </form>